body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
}

.Menu {
  height: 100px;
}

.Sidebar {
  height: 100vh;
}

.card {
  background-color: #CC0000;
  color: white;
  border: 4px solid #3B4CCA;
  border-radius: 2%;
}

.yellow {
  color: #FFDE00;
}

.dark-yellow {
  background-color: #FFDE00;
}

